
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;

}
body {
background: linear-gradient(135deg, #000000, #032057);



    color: white;
    color: #333;
    overflow-x: hidden;
}

/* HEADER */
header {
    
    color: white;
    padding: 25px 10%;
    text-align: center;

  
    gap: 12px;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    
}

header p {
    opacity: 0.9;
    margin: 8px 0 15px;
}


    

 
    

.nav1 {
    display: flex;
    justify-content: center;
    gap: 2px;
    
    
    
}


.nav1 a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 30px;
    transition: 0.50s ease;
    font-weight: 500;
    border-color: aliceblue;
    font-family: fantasy;
 
    
}

.nav1 a:hover {
    background: white;
    color: #2c5364;
    transform: translateY(-2px);
}


.hero {
    padding: 80px 10%;
    text-align: center;
    color: white;
}

.hero h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.1rem;
    opacity: 0.95;
}


.section {
    padding: 50px 10%;
    text-align: center;
    display: inline;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #d2dbdf;
    font-family:cursive ;
    
    
}

.cards {
    display:flex;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    gap: 25px;
}

    

.card {
    text-decoration: none;
    color: inherit;
    background: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 1000;
    display:flex;
    overflow-x: hidden;
}

.card a{
    text-decoration:none;
    color: inherit;
    
}

.card:hover {
    transform: translateY(-10px);
    background-color: rgb(224, 203, 80);
    color: white;
}


.section.dark {
    background: #171b1d, #151516;
    color: white;
}

.section.dark h2 {
    color: white;
}

.section.dark ul {
    list-style: none;
    max-width: 500px;
    margin: auto;
}

.section.dark li {
    padding: 10px;
    font-size: 1.1rem;
}

/* CONTACT FORM */
form {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    gap: 15px;
    background-color: #051531;
}

input, textarea {
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 120px;
}


#topBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 18px;
    background: #2c5364;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

#topBtn:hover {
    background: #667eea;
    transform: translateY(-5px);
}


footer {
    background: #fcfcfc;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 15px;
    margin-top: 390px;

}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-container img {
    width: 100px;   
    height: auto;
}

.logo-container h1 {
    font-size: 2.5rem;
    margin: 0;
}
.nav4{
    top: 0%;
    margin-bottom: 30%;
    
}


.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.social-icons img {
    width: 30px;   
    height: 32px;
    display: grid;
}
.sub{
    border-radius: 10px;
    width: auto;
    padding: 10px;
    cursor: pointer;
}
form{
    width: 350px;
}
.sub:active{
    background-color: rgb(155, 160, 165);
    
}
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
.white_content p{
    text-decoration: none;
    color: inherit;
}
#pic1{
    width: 395px;
    margin-top: 10px;
    margin-left: 5px;
}

